:root {
    --dark-accent: #383838;
    --light-accent: #94d7da;
    --light-accent-secondary: #23495f;
    --h1tag-size: 2.5rem; /* header, and article topics throughout the page */
    --right-margin: 5vw; /* page margin to make more uniform */
    --left-margin: 7vw; /* body content margin to make more uniform */
    --border-line-width: 0.2rem; /* small accent border lines across page */
  }

header {
    background: var(--dark-accent);
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

header h1 {
    color: var(--dark-accent);
    background: var(--light-accent);
    font-size: var(--h1tag-size);
    height: 3rem;
    padding: .5vh 1vw 1vh var(--right-margin);
}

header nav {
    margin-right: var(--right-margin);
    display: flex;
    align-items: center;
}

main section nav > *,
header nav a {
    color: var(--light-accent);
    text-decoration: none;
    font-size: 1rem;
    border-bottom: var(--border-line-width) solid var(--light-accent);
    padding: 0.4rem;
    margin: .5rem;
}

main > div {
    display: block;
    align-items: stretch;
    margin: 0vh 0vw 0vh 0vw;
    position: relative;
    height: 150px;
}

main > div img {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

main > div > h2 {
    font-size: 1.5rem;
    padding: .25rem;
    color: var(--dark-accent);
    background: var(--light-accent);
    display: flex;
    justify-content: right;
    margin: 0px var(--right-margin) 0vh 0vw;
    padding: .5rem;
    position: absolute;
    bottom: 2vh;
    right: 0;
    background: var(--light-accent);
}
main section {
    margin: 2vh var(--right-margin) 1vh var(--left-margin);
    display: flex;
}

main section h1 { /* TODO: h1 tags are not staying uniform size*/
    width: 30%;
    font-size: var(--h1tag-size);
    text-align: right;
    padding-right: .75rem;
    border-right: var(--border-line-width) solid var(--light-accent-secondary);
    color: var(--light-accent-secondary);
}

main section > nav,
main section > div {
    padding-left: 1.25rem;
    width: 100%;
}

main section div {
    color: var(--dark-accent);
}

main section nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

main section nav > *{
    color: var(--dark-accent);
    border-color: var(--light-accent-secondary);
}

footer {
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.project-card {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2rem;
}

.project-card img {
    border: var(--border-line-width) solid var(--light-accent);
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.project-card div h2 {
    font-size: 1.5rem;
}

.project-card > div {
    padding: .5rem;
    position: absolute;
    bottom: 2vh;
    left: 0;
    background: var(--light-accent);
}

#main-project {

}

@media screen and (max-width:948px) {
    body header h1 span {
        display: none;
    }

    body section {
        display:block
    }

    body section h1 {
        border: none;
        border-bottom: var(--border-line-width) solid var(--light-accent-secondary);
        width: 100%;
        text-align: left;
        margin-bottom: 2vh;
    }

    body section h1 span {
        display:none
    }

    body section nav > * {
        border: none;
        color: var(--light-accent);
        background: var(--light-accent-secondary);
    }
}