header {
    display: flex;
    justify-content: center;
    background: #299CE3;
}

header div{ /* navbar elements (buttons) */
    padding: 1em;
    display:inline;
}

header div a {
    text-decoration: none;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* TODO: set font as bold uppercase*/
}

footer div {
    display: flex;
    justify-content: center;
}

.hero-imgs { /* used to format the main images on the site animate 5 panel images as smaller device */
    display: flex;
    justify-content: center;
}

/*
Make images hide as they go off the screen and only allow a single image if viewport
width is < 750px & zoom into the picture a bit so they dont have to scroll down much
to get to the content
*/
.hero-imgs div {
    min-width: 300px;
    overflow: hidden; /* TODO: not working yet. want images to disappear as they go off the screen*/
    position: relative; 
}

/*
Color pallet for design consistancy
color: #2DFDA1 bluer
color: #29E3C6
color: #3AE2F9 mid accent
color: #299CE3
color: #2D77FD greener
*/